*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}



/* Temporary */
nav,
header,
section,
div,
footer {
  border: 3px solid rgb(0, 149, 255);
}

article{
  border: 3px solid greenyellow;
}

img {
  width: 100px;
}

nav>ul>img{
    width: 30px;
}

/* Typography */



/* Layout */
main {
    margin:0 auto;
    padding: 1em 0.5em;
    max-width: 450px;
    display: grid;
    grid-template-columns: 10px minmax(310px, 1fr) 10px ;
    grid-template-rows: 70px repeat(4, 1fr) auto auto;
    grid-template-areas: 
    "n n n"
    "h h h"
    ". a ."
    ". a ."
    ". a ."
    ". d ."
    "f f f"
    ;
    grid-gap:10px;
}


nav{
  grid-area: n;
  display: flex;
  justify-content: space-between;
}

nav>ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

header{
  margin-top: 40px;
  grid-area: h;
}


section{
  grid-area: a;
}

div{
  grid-area: d;
}

footer{
  grid-area: f;
}