*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

/* Typography */

h1{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  line-height: 1.3;
}

.date{
  font-size: 0.75rem;
}

nav>.left>p{
  font-size: 0.875rem;
}


/* Layout */
main {
    margin:0 auto;
    padding: 0 0.5em;
    max-width: 450px;
    display: grid;
    grid-template-columns: 10px minmax(310px, 1fr) 10px ;
    grid-template-rows: 60px 1.5fr repeat(3, 1fr) auto auto;
    grid-template-areas: 
    ". n ."
    "h h h"
    ". a ."
    ". a ."
    ". a ."
    ". d ."
    "f f f"
    ;
    grid-gap:10px;
}


nav{
  grid-area: n;
  display: flex;
  justify-content: space-between;
}

nav>ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header{
  grid-area: h;
}


section{
  grid-area: a;
}

div{
  grid-area: d;
}

footer{
  grid-area: f;
}

/* Links */
nav>ul>li>a{
  color: #090909;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
}


/* Misc */

  /* Navbar layout */
  nav>.left{
    gap: 0.4em;
  }
  nav>.right{
    gap: 1.2em;
  }

/* Temporary */

header,
section,
div,
footer {
  border: 3px solid rgb(0, 200, 255);
}

article{
  border: 3px solid greenyellow;
}

img {
  width: 100px;
}

nav>ul>img{
    width: 30px;
}